<div id="top"></div>
<div id="header" onclick="gox()">
    <a href="#" class="logo"><img src="https://i.imgur.com/C9M0TgJ.png" alt="Logo Page"></a>
    <div class="addthis_inline_share_toolbox"></div>
    <img class="bookmark" src="https://i.imgur.com/4TVkkso.png" alt="Bookmark us due to regular updates!">
</div>
<div class="menu-line">
    <ul class="menu" onclick="gox()">
        <li><a href="#">HOME</a></li>
        <li><a href="#">Best Videos</a></li>
        <li><a href="#">Hot Videos</a></li>
        <li><a href="#">Best Videos</a></li>
        <li><a href="#">Hot Videos</a></li>
        <li><a href="#">Asian Porn</a></li>
        <li><a href="#">Indian Porn</a></li>
</div>
<div class="title">
    <h2 class="alignleft">Free Sex Video</h2>
</div>